APP_MODE=pilot
TRUTH_MODE=pilot
ALLOW_OPERATOR_FORCE=false
ENABLE_LIVE_CONNECTORS=false
ENABLE_FAKE_SUCCESS=false
ENABLE_OFFLINE_QUEUE=true
ENABLE_RUNTIME_GAP_BANNER=true
SHOW_SOURCE_OF_TRUTH=true
FALLBACK_MODE=visible
FAIL_CLOSED_FINANCE=true
ENABLE_SUPPORT_TICKETS=true
ENABLE_ROLE_ROUTE_GATING=true
ENABLE_COMMERCIAL_HARDENING=true
ENABLE_OFFLINE_ARTIFACTS=true
ENABLE_ANTI_BYPASS=true
ENABLE_PROVIDER_ASSIGNMENTS=true
ENABLE_RUNTIME_PERSISTENCE=true
ENABLE_RUNTIME_OUTBOX=true
ENABLE_RUNTIME_OBJECT_LOCKS=true
ENABLE_RUNTIME_PROJECTORS=true
ENABLE_RUNTIME_DEAD_LETTER=true
ENABLE_RUNTIME_INBOX=true
ENABLE_RUNTIME_RECOVERY=true
ENABLE_RUNTIME_METRICS=true
ENABLE_RUNTIME_HEARTBEATS=true
ENABLE_RUNTIME_EVENT_STREAM=true
ENABLE_RUNTIME_RLS=true
ENABLE_HONEST_LIVE_BANNERS=true
