APP_MODE=pilot-controlled
TRUTH_MODE=pilot
ALLOW_OPERATOR_FORCE=false
ENABLE_LIVE_CONNECTORS=false
ENABLE_FAKE_SUCCESS=false
ENABLE_OFFLINE_QUEUE=true
ENABLE_RUNTIME_GAP_BANNER=true
SHOW_SOURCE_OF_TRUTH=true
FALLBACK_MODE=visible
FAIL_CLOSED_FINANCE=true
ENABLE_SUPPORT_TICKETS=true
